<h2>Your events</h2>
<% @events.each do |e| %>
<div class="events">
  <span>Event: <strong><%= e["name"] %></strong></span>
  <p>Location:
    <%- if e["venue"].present? %>
      <%= e["venue"]["name"] %>
      <%= e["venue"]["address_1"] %>
      <%= e["venue"]["city"].upcase %></p>
    <% end %>
  <a href="<%= e["event_url"] %>"> See Event</a>
</div><br><br>
<% end %>
