<h2>Your groups</h2>

<div class="groups">

<% @groups.each do |group| %>

  <div class="panel panel-default" id="<%= "#{group["id"]}" %>" data-hidden="true" data-group='{"groupId":"<%= group["id"] %>"}' data-name='{"groupName":"<%= group["name"] %>"}' data-user='{"userId":"<%= @user.id %>"}'>
    <!-- Default panel contents -->
    <div class="panel-heading">
      <%= group["name"] %>
    </div>
    <div class="panel-body">
      <%- if group["group_photo"].present? %>
        <a href='<%= group["group_photo"]["photo_link"] %>'><img class="image" src="<%= group["group_photo"]["photo_link"] %>"></a>
      <% end %>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">
        <a href="<%= group["link"]%>" target="_blank">See</a>
          <button type="button" id="add-favourite" onClick="submitFavourite(event)"> ♥ </button>
      </li>
    </ul>
  </div>
  <% end %>
</div>
