
<% @groups.each do |group| %>

<div id="<%= "#{group["id"]}" %>" data-hidden="true" data-group='{"groupId":"<%= group["id"] %>"}' data-name='{"groupName":"<%= group["name"] %>"}' data-user='{"userId":"<%= @user.id %>"}' class="group">

  <%= group["name"] %>

  <div class="image">
    <%- if group["group_photo"].present? %>
      <a href='<%= group["group_photo"]["photo_link"] %>'><img src="<%= group["group_photo"]["thumb_link"] %>"></a>
    <% end %>
  </div>

  <a href="<%= group["link"]%>" target="_blank">See this group on Meetup.com</a><br>

  <div id='add-favourite'>
    <button type="button" id="add-favourite" onClick="submitFavourite(event)"> ♥ </button>
  </div>

</div>
<br>

<% end %>
