

<h1> You made it Home </h1>


<!-- Links to sign in and out with Meetup -->
<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Meetup", "/auth/meetup" %>
<% end %>


  <ul>
  <% @groups.each do |group| %>
  <a href="<%= group["group_photo"]["photo_link"]%>">
    <img src="<%= group["group_photo"]["thumb_link"] %>"><img><br>
  </a>
  <a href="<%= group["link"]%>">See this group on Meetup.com</a>
  <li><%= group["city"] %></li>

    <ul>
    <% group["topics"].each do |topic| %>
    <li><%= topic["name"] %></li>
    <% end %>
    </ul>
  <% end %>
  </ul>
