
<a href='<%=root_url%>'><img class='logo' src="http://res.cloudinary.com/dsiyhc1tt/image/upload/v1479235744/meetup-logo_h5atgk.png"></a>

<h1 class='title'> Welcome <%= current_user.name %>! </h1>
<!-- Links to sign in and out with Meetup -->
  <%= link_to "Sign Out", signout_path %>

<h2>Your groups</h2>


<div id="groups">
  <%= link_to "See your Groups", get_groups_path, :remote => true %>
</div>

<%= render 'events' %>
