<div id="members-header">
  <a href='<%=root_url%>'><img class='logo' src="http://res.cloudinary.com/dsiyhc1tt/image/upload/v1479235744/meetup-logo_h5atgk.png"></a>
  <span class="welcome"> Welcome <%= current_user.name %>! </span>
  <span class="sign-out-link"> <%= link_to "Sign Out", signout_path %> </span>
</div>

<!-- Links to sign out with Meetup -->
  <br><br>
  <div id='events'>
    <%#= render 'events' %>
  </div>

  <%= render 'favourites' %>

  <%#= render 'recommended' %>


<div class="groups-link"><%= link_to "See all your Groups", get_groups_path, :remote => true %> </div>
<%= link_to "See all your Groups", get_groups_path, remote: true %>
<%#= render 'groups' %>
