

<h1> You made it Home </h1>


<!-- Links to sign in and out with Meetup -->
<% if current_user %>
  Welcome <%= current_user.name %>!
  <%= link_to "Sign Out", signout_path %>
<% else %>
  <%= link_to "Sign in with Meetup", "/auth/meetup" %>
<% end %>

<% if current_user %>
  <ul>
    <% @groups.each do |group| %>
    <div class="group">

      <div class="title"><%= group["name"] %></div>

      <div class="image">
      <a href="<%= group["group_photo"]["photo_link"]%>">
        <img src="<%= group["group_photo"]["thumb_link"] %>"><img><br>
      </a>
      </div>

      <p><%= group["description"] %> </p>

      <a href="<%= group["link"]%>">See this group on Meetup.com</a><br>

        <!-- <ul>
        <%# group["topics"].each do |topic| %>
        <li><%#= topic["name"] %></li>
        <%# end %>
        </ul> -->
    </div>
    <br>
    <% end %>
  </ul>
<% else %>
  <h2> You Need to Log in To See Your Groups </h2>
<% end %>
