
<span class="welcome"><a href='<%=root_url%>'><img class='logo' src="http://res.cloudinary.com/dsiyhc1tt/image/upload/v1479235744/meetup-logo_h5atgk.png"></a>

 Welcome <%= current_user.name %>! </span>
<!-- Links to sign out with Meetup -->
  <%= link_to "Sign Out", signout_path %>
  <br><br>

<div class="wrap">
  <div id="faves">
    <%= render 'favourites' %>
  </div>

  <%#= render 'recommended' %>

  <div id="groups">
    <%= link_to "Update Overview", get_groups_path, :remote => true %> <br>
    <%= render 'groups' %>
  </div>

  <div id='events'>
    <%= render 'events' %>
  </div>
</div>
