<div id="members-header">
  <h1 class="welcome"> Welcome <%= current_user.name %>! </h1>
  <div class="navbar-link"> <%= link_to "Sign Out", signout_path %> </div>
  <div class='navbar-link'><%= link_to "See all your Groups", groups_path, :remote => true %> </div>
</div>

<!-- Links to sign out with Meetup -->
  <br><br>
  <%= render 'events' %>

  <%= render 'favourites' %>

  <%#= render 'recommended' %>


<div id='groups'>
</div>
<%#= render 'groups' %>
