
<a href='<%=root_url%>'><img class='logo' src="http://res.cloudinary.com/dsiyhc1tt/image/upload/v1479235744/meetup-logo_h5atgk.png"></a>

<h1 class='title'> Welcome <%= current_user.name %>! </h1>
<!-- Links to sign in and out with Meetup -->
  <%= link_to "Sign Out", signout_path %>

<h2>Recommended Events for you</h2>
<% @recommended_events.each do |re| %>
<div class="recommended-events">
  <ul>
    <li><strong>Event:</strong><%= re["name"] %></li>
    <li><strong>Group:</strong><%= re["group"]["name"] %></li>
    <a href="<%= re["link"]%>" target="_blank">Check out this event on Meetup.com</a><br>
  </ul>
</div>
<% end %>

<h2>Your events</h2>
<% @events.each do |e| %>
<ul>
  <li><strong>Event:</strong><%= e["name"] %></li>
  <li><strong>Where:</strong>
    <%- if e["venue"].present? %>
      <p><%= e["venue"]["name"] %>
      <%= e["venue"]["address_1"] %>
      <%= e["venue"]["city"].upcase %></p>
    <% end %>
  </li>

</ul>
<% end %>

<h2>Your groups</h2>
<% @groups.each do |group| %>
<div class="group">

  <div class="group-title"><%= group["name"] %></div>

  <div class="image">
    <%- if group["group_photo"].present? %>

      <a href='<%= group["group_photo"]["photo_link"] %>'><img src="<%= group["group_photo"]["thumb_link"] %>"></a>

    <% end %>
  </a>
  </div>

  <p><%#= group["description"] %> </p>

  <a href="<%= group["link"]%>" target="_blank">See this group on Meetup.com</a><br>

    <!-- <ul>
    <%# group["topics"].each do |topic| %>
    <li><%#= topic["name"] %></li>
    <%# end %>
    </ul> -->
</div>
<br>
<% end %>
